<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
  <link rel="stylesheet" href="hb_style.css">
</head>
<body>

  <section class="left">
    <header>
      <p>
        <a href="">ETC.</a><br>Exercise Timer Calculator
      </p>
      <div></div>
      <nav>
        <a href="/"></a>
      </nav>
    </header>
  </section>

  <section class="right">
    <h1 class="h1Title">Set <br> your <br> Timer</h1>
    <h1 class="timer disNon">
      You left <br><span style="color:red;">0</span><br> seconds!
      <script></script>
    </h1>

    <div>
      <form action="/actionpage.html">
        <label for="set">How many set <sub></sub></label>
        <input type="number" name="set" id="set" min="1" onchange="showCount('set')">

        <label for="breakt">Break time(s) <sub></sub></label>
        <input type="number" name="breakt" id="breakt" min="1" onchange="showCount('breakt')"> 

        <label for="times">Exercise time(s) <sub></sub></label>
        <input type="number" name="times" id="times" min="1" onchange="showCount('times')">

        <input type="button" id="button" value="start" onclick="starttimer()">
      </form>
    </div>
    <div class="result">
      I'm going to exercise <span id="times-span">0</span> min 
      with <span id="breakt-span">0</span> min break times 
      in <span id="set-span">0</span> set.
    </div>

  </section>
  
</body>
</html>