<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
  <script src="{% static 'app.js' %}"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
  <link href="{% static 'hb_style.css' %}" rel="stylesheet">
</head>

<body>

  <header>
    <p>
      <a href="">ETC.</a><br>Exercise Timer Calculator
    </p>
    <!--<nav>
      <a href="/"></a>
    </nav>-->
  </header>

  <section>
    <h1 class="title">Set <br> your <br> Timer</h1>
    
    <form action="/actionpage.html" method="POST">
    {% csrf_token %}
      
      <label for="times">Exercise time(s)</label>
      <input type="number" name="times" id="times" min="1" onchange="showCount('times')">

      <label for="breakt">Break time(s)</label>
      <input type="number" name="breakt" id="breakt" min="1" onchange="showCount('breakt')">

      <label for="set">How many set</label>
      <input type="number" name="set" id="set" min="1" onchange="showCount('set')">
      
      <input type="button" id="button" value="start" onclick="setTimer()">
    </form>
    
    <div class="result">
      I'm going to exercise <span id="times-span">0</span>s and then take <span id="breakt-span">0</span>s break times. <br>
      I will do this <span id="set-span">0</span> set.
    </div>

    <div class="test">
      <p>WORKING ON THIS-HAN</p>
      {% for exertime in exer_list %}
      <p>{{exertime.exerid}}, {{exertime.setno}}</p>
      {% endfor %}
      <p>end</p>
    </div>
    
  </section>
  
</body>
</html>